{{>drNavbar}}

    
    <Section class="Profile">
        <div class="topSec"> 
            <div class="profimgdiv">
                <img class="profimg" src="{{data.image}}"/>
            </div>
            <h1 class="welcome">Welcome {{name}}</h1>
        </div>
        <div class="bottomsec">
            <button class="accordion">Personal Information</button>
            <div class="panel">
                <h1>Name : {{name}}</h1>
                <h1>Baki ka Details</h1>
            </div>

            <button class="accordion">Appointments</button>
            <div class="panel">
                <div class="accapp" >
                    <h1>Accept Appointments?</h1>
                    <!-- Rounded switch -->
                    <div class="sliderdiv">
                        <label class="switch" >
                        <input  type="checkbox">
                        <span  class="slider round"></span>
                    </label>
                    </div>
                </div>
            </div>

            <button class="accordion">Video Requests</button>
            <div class="panel">
                <div class="dyndiv">
                    Req from UserName
                </div>
            </div>
        </div>
        </Section>
{{>footer}}    
<script src="js/userDashboard.js"></script>