@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --blue:#16a085;
    --green:#04AA6D;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border:none;
    text-transform: capitalize;
    transition: all .3s cubic-bezier(.38,1.15,.7,1.12);
}

*::selection{
    background:var(--green);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    min-height: 100vh;
    padding:1rem 9%;
    padding-top: 8rem;
}

.heading{
    text-align: center;
    color:var(--blue);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}


.home{
    background:url(../images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.home .content{
    text-align: center;
    padding-top: 3rem;
}

.home .content h1{
    font-size: 5rem;
    color:var(--green);
}

.home .content h3{
    font-size: 4rem;
    color:var(--blue);
    font-weight: normal;
}

.home .content .btn{
    display: inline-block;
    padding:.7rem 3rem;
    color:#fff;
    background:var(--blue);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin-top: 1rem;
    font-size: 1.7rem;
}

.home .content .btn:hover{
    background:var(--green);
}

.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.prevent .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    margin:1rem;
    padding:1rem;
    text-align: center;
}

.prevent .box-container .box img{
    height:12rem;
    padding:1rem;
}

.prevent .box-container .box h3{
    color:var(--blue);
    font-size: 2rem;
}

.prevent .box-container .box p{
    color:var(--green);
    font-size: 1.4rem;
    padding:1rem;
}

.prevent .box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.symptoms{
    background:url(images/background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.symptoms .column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoms .column .main-image img{
    width: 43vh;
}

.symptoms .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.symptoms .column .box-container .box{
    margin:1rem;
    text-align: center;
}

.symptoms .column .box-container .box img{
    width:20rem;
    padding:1rem;
}

.symptoms .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.precautions .column{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.precautions .column .box-container{
    margin:1.5rem;
    flex:1 1 50rem;
    border:.1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.precautions .column .box-container .title{
    padding:1.5rem .5rem;
    text-align: center;
    font-size: 2.5rem;
    background:var(--blue);
    color:#fff;
}

.precautions .column .box-container:last-child .title{
    background:#003020;
}

.precautions .column .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.precautions .column .box-container .box img{
    width:15rem;
    padding:1rem;
}

.precautions .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.precautions .column .box-container .box p{
    font-size: 1.2rem;
    color:var(--green);
    padding:1rem 0;
}




.hand-wash .column{
    display: flex;
    justify-content: center;
}

.hand-wash .column .main-image img{
    width:25vw;
}

.hand-wash .column .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hand-wash .column .box-container .box{
    text-align: center;
    margin:2rem;
}

.hand-wash .column .box-container .box img{
    width: 17rem;
    height: 17rem;
    padding:1rem;
}

.hand-wash .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}


.scroll-top{
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img{
    width:8rem;
    animation: float 3s linear infinite;
}



/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

}

@media (max-width:991px){

    section{
        padding:1rem 3%;
        padding-top: 8rem;
    }

    #menu{
        display: block;
    }

  

  
    .fa-times{
        transform: rotate(180deg);
    }

    .symptoms .column .main-image img{
        display: none;
    }

    .hand-wash .column .main-image img{
        display: none;
    }

}
