.welcome{
    display: inline-block;
    margin: 80px 0 0 30px;
    font-size: 3rem;
    /* border: 1px solid blue; */
}
.topsec{
    margin-top: 100px;
    width: 100%;
    display: block;
    /* justify-content: left;
    align-items: center;
} */}
.Profile{
    margin-top: 70px;
    min-height:110vh;
    width: 100%;
    /* border: 1px solid blue; */
    
    


}
.profimgdiv{
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /* border: 1px solid blue; */
    margin-top: 0px;
    overflow: hidden;
    float: left;
}
.profimg{
    /* display: inline-block; */
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid black;
    margin-bottom: 30px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
  padding: 0 18px;
  background-color: white;
  min-height: 400px;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  display: none;
}


/* The switch - the box around the slider */

.accapp{
    width: 95%;
    height: 50px;
    margin: 10px 2.5%;
    /* border: 1px solid blue; */
    font-size: 14px;
    float: left;
    /* overflow: hidden; */
}
.accapp h1{
    width: 50%;
    /* border: 1px solid blue; */
    float: left;
}
.sliderdiv{
    margin-top: 0.7%;
    float: left;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #11ec50;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #11ec50;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*appointments*/

.appointsVC{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appointsVC form{
  width: 50%;
}

.url-delete{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.url-delete a{
    color: #2700fd;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}

.url-delete button{
  width: 25%;
  padding: 5px 0;
}

.appoints{
    width: 100%;
    display: block;
    justify-content: left;
    align-items: center;
    height: 50px;
    /* border: 1px solid black; */
    /* background-color: green; */
    border-bottom: 1px solid black;
    /* border-radius: 10px ; */
    margin-top: 0px;
    /* padding: 10px; */
    font-size: 12px;
}
.appoints form{
    margin: 0px;
    padding: 0px;
}
.appoints h1{
    width:60%;
    height: 40px;
    margin: 10px 6% 0 0 ;
    /* border: 1px solid black; */
}
.appoints button{
    width: 10%;
    height: 40px;
    margin: 5px 0px;
    font-size: 18px;
    border-radius: 0;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    padding: 0px;

}
.datetime{
    /* display: inline; */
    float: left;
    width: 20% ;
    height: 40px;
    border:1px solid blue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px 0;
}
  
.ph-box{
  display: flex;
  min-height: 200px;
}

.ph-app-display{
  width: 50%;
}

.ph-app-display h2{
  text-align: center;
    font-size: 28px;
    margin: 11px;
}

.appointsVC-p{
  justify-content: space-around;
}

.ph-app-displayV{
  border-left: 2px dashed black;
}

.appointsVC-V{
  margin-left: 18px;
}

@media screen and (max-width: 500px) {
  .ph-box {
    flex-direction: column;
  }
  .ph-app-displayV {
    border-left: none;
}
.url-delete button {
  width: 84%;
}

  .ph-app-display {
  width: 100%;
  }

  .ph-app-display h2 {
    font-size: 20px;
}

.appointsVC {
  font-size: 9px;
}

.appointsVC-V {
  margin-left: 0px;
  margin-top: 18px;
  flex-direction: column;
}

.panel{
  padding: 16px 0;
}

.m-r{
  display: flex;
  flex-direction: column;
}

.url-delete a {
  font-size: 18px;
}
.appointsVC form {
  width: 84%;
}
}